// global
$main-content-area-height: calc(100vh - 142px);

// sections
$right-section-content-padding: 40px 40px 40px 0;

// footer
$footer-padding: 10px 15px;
$footer-icons-font-size: 17px;
$footer-copyright-font-size: 10px;
$footer-border-top: 1px solid #f0f0f0;

// header
$header-border-bottom: 1px solid #f0f0f0;
$header-padding: 15px 20px;;