@import 'partials/colors';
@import 'partials/variables';
@import 'partials/core';
@import 'partials/global';
@import 'partials/header';
@import 'partials/sections';
@import 'partials/footer';
@import 'partials/responsive';
@import 'partials/forms';
