$primary-color: #0d1421 !default;
$secondary-color: #f1582d !default;
$tertiary-color: #26334A !default;;

$white: #ffffff;
$black: #000000;
$gallery: #eeeeee;
$porcelain: #F1F2F3;
$dark-gray: #494949;
$dusty-gray: #999999;

// Social
$facebook-icon-color: #2A61D6;
$twitter-icon-color: #3AA4F8;
$github-icon-color: #292929;