.right-section {
  float: right;
  width: 50%;
  position: relative;
  padding: 0 60px;
  .logo {
    position: absolute;
    top: 40px;
    height: 60px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .content {
    padding: $right-section-content-padding;
    .title {
      color: $black;
      margin-bottom: 15px;
      text-transform: uppercase;
      .gulp-logo {
        height: 85px;
        padding: 0 15px 10px 0;
      }
    }
    .desc {
      color: $dark-gray;
    }
    .post-desc {
      color: $dusty-gray;
      font-size: 12px;
    }
  }
}

.left-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  .aparecium-logo-container {
    text-align: center;
    padding-top: 20vh;
    svg {
      width: 70%;
      height: 70%;
    }
    .aparecium-logo.fox #Fox polygon {
      opacity: 0.9;
      transition: all 0.8s;
      &:hover {
        opacity: 0.8;
        transition: all 0.1s;
      }
    }
  }
}
